h1 {
	font-family: Rochester;
	font-size: 45px;
	position: absolute;
	z-index: 2;
	top: 305px;
	left: 0;
	right: 0;
}

div.myCanvas {
	background-color: rgb(0, 48, 8);
	width: 700px;
	height: 700px;
	margin: 0 auto 0 auto;
	display: block;
	border: 10px solid rgb(56, 24, 0);
	position: relative;
	box-shadow: 0 0 30px black;
	top: 50px;
}

div#winning {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	position: absolute;
	top: 0px;
	z-index: 7;
	color: rgba(255, 255, 255, 0.8);
	display:none;
}

.wSet {
	width: 318px;
	margin: 0 auto 0 auto;
	position: relative;
	top: 70px;
}
.wSet > p {
	display: inline-block;
}

#wCard {
	width: 65px;
	margin-left: -18px;
}

p#wMsg {
	font-size: 57px;
	font-family: Fontdiner Swanky;
	position: relative;
	top: 95px;
}

div#me {
	width: 550px;
	height: 50px;
	position: absolute;
	top: 630px;
	left: 85px;
}

div#left {
	width: 550px;
	height: 50px;
	position: absolute;
	top: 325px;
	left: -220px;
	transform: rotate(90deg);
}

div#right {
	width: 550px;
	height: 50px;
	position: absolute;
	top: 325px;
	right: -220px;
	transform: rotate(270deg);
}

div#up {
	width: 550px;
	height: 50px;
	position: absolute;
	top: 20px;
	left: 85px;
	transform: rotate(180deg);
}



body {
	text-align: center;
	color: rgb(215, 199, 121);
}

img {
	z-index: 3;
}

img#me {
	position: relative;
	margin-left: -16px;
	width: 51px;
	z-index: 4;
}

img#field {
	position: relative;
	margin-left: -12px;
	width: 51px;
}

img#left {
	width: 51px;
	margin-left: -16px;
	z-index: 4;
}

img#right {
	width: 51px;
	margin-left: -16px;
	z-index: 4;
}

img#up {
	width: 51px;
	margin-left: -16px;
	z-index: 4;
}

img#pme {
	position: relative;
	margin-left: -18px;
	margin-bottom: -11px;
	width: 51px;
}

img#pleft {
	width: 51px;
	margin-bottom: -22px;
	margin-left: -18px;
}

img#pright {
	width: 51px;
	margin-bottom: -22px;
	margin-left: -18px;
}

img#pup {
	width: 51px;
	margin-left: -18px;
	margin-bottom: -11px;
}



button.ng-scope {
position: relative;
top: -35px;
}

div#field {
	width: 410px;
	height: 442px;
	position: absolute;
	top: 129px;
	left: 145px;
}

div#panel {
	height: 80px;
	width: 250px;
	position: relative;
	margin: 0 auto 0 auto;
	background: rgba(0, 0, 0, 0.52);
	border-radius: 10px;
	top: -172px;
	z-index: 5;
	display: none;
}

div#panel div {
	width: 70px;
	height: 70px;
	display: inline-block;
	text-align: center;
	position: relative;
	top: 5px;
}

div#panel div p {
	margin-top: 25px;
	font-family: Delius Unicase;
}

a {
	color: rgb(215, 199, 121);
}

a:active {
	font-size: 15px;
}

div#panel div#Null {
	position: absolute;
	top: -21px;
	left: 203px;
	font-size: 15px;
	width: 20px;
	height: 20px;
	margin: 28px 0 0 20px;
	font-family: Delius Unicase;
	border-radius: 20px;
}

div#gme {
	width: 410px;
	height: 50px;
	position: absolute;
	top: 575px;
	left: 145px;
}

div#gleft {
	width: 439px;
	height: 50px;
	position: absolute;
	top: 325px;
	left: -105px;
	transform: rotate(90deg);
}

div#gright {
	width: 439px;
	height: 50px;
	position: absolute;
	top: 325px;
	right: -107px;
	transform: rotate(270deg);
}

div#gup {
	width: 410px;
	height: 50px;
	position: absolute;
	top: 74px;
	left: 145px;
	transform: rotate(180deg);
}

img#gme {
	position: relative;
	margin-left: -34px;
	margin-bottom: 0px;
	width: 51px;
	float: left;
}

img#gleft {
	width: 51px;
	margin-bottom: 0px;
	margin-left: -33px;
	float: left;
}

img#gright {
	width: 51px;
	margin-bottom: 0px;
	margin-left: -33px;
	float: left;
}

img#gup {
	width: 51px;
	margin-bottom: 0px;
	margin-left: -34px;
	float: left;
}