<!DOCTYPE html>
<html>
<head>
	<title>FanCee</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
		<script src ='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js'></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.1.0/buzz.min.js"></script>
		<script src ='../module/app.js'></script>
		<link rel='stylesheet' type='text/css' href='../style/style.css'>
		<link href='https://fonts.googleapis.com/css?family=Rochester|Delius+Unicase' rel='stylesheet' type='text/css'>
</head>
<body background = '../graphics/wood3.png'>

	<div id='logo'><h1>FanCee</h1></div>

	<div class='myCanvas' data-ng-view=''>
		<div id='me'></div>
		<div id='right'></div>
		<div id='up'></div>
		<div id='left'></div>
		<div id='field'></div>
	</div>
	</div>
	<div id='panel'>
		<a href='#'><div id='Pong'><p>Pong</p></div></a>
		<a href='#'><div id='Kong'><p>Kong</p></div></a>
		<a href='#'><div id='Sic'><p>Win</p></div></a>
		<div id='Null'>X</div>
	</div>

</body>
</html>